
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #070B34, #2A3EB1);
    color: white;
}

.container {
    text-align: center;
    max-width: 1200px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.service-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    width: 22%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #E0E0E0;
}

.card button {
    background-color: #D4FF58;
    color: #070B34;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #b5db47;
}

.card:hover {
    transform: scale(1.05);
}
.content p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 1em; 
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #070B34;
    color: white;
    font-weight: bold;
}

/*table tr:nth-child(even) {
    background-color: #f2f2f2;
}*/

.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #D4FF58;
    color: #070B34;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #b5db47;
}
